<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HSK4</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<header>
    <h1> HSK4 - Progress Tracker </h1>
</header>

<div class="containers">
    <div id="known-words" class="number">
        <%= known_words %>
    </div>
    <div id="percentage" class="number">
        <%= percentage %>
    </div>
    <div id="words-left" class="number">
        <%= words_left %>
    </div>
</div>

<form method="POST">
    <input type="submit" value="JEB WORDA DODAJ MIE"/>
</form>


<div class="bar">
    <div class="bar-inner" style="width:<%= percentage %>" data-percent="<%= percentage %>"></div>
</div>
</body>
</html>
